<h2>To Dos</h2>

<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Titel</td>
      <td>Fertig?</td>
    </tr>
  </thead>
  <tbody>
    @for(todo of todos; track todo.id){
      <tr>
        <td>{{todo.id}}</td>
        <td>{{todo.title }}</td>
        <td>{{todo.completed ? 'Yes' : 'No' }}</td>
      </tr>
    }
  </tbody>
</table>

<h2>Einzelnes To Do</h2>
  @if(this.todo$ | async; as todo){
  <div>
    <div>Id: {{todo.id }}</div>
    <div>Title: {{todo.title}}</div>
    <div>Completed: {{todo.completed}}</div>
  </div>
}


<h2>Noch zu erledigende To Dos</h2>

<table>
  <thead>
  <tr>
    <td>Id</td>
    <td>Titel</td>
    <td>Fertig?</td>
  </tr>
  </thead>
  <tbody>
  @for(todo of todosCompletedFalse$ |async; track todo.id){
  <tr>
    <td>{{todo.id}}</td>
        <td>{{todo.title }}</td>
        <td>{{todo.completed ? 'Yes' : 'No' }}</td>
      </tr>
  }
  </tbody>
</table>

